<div class="main_chat_header">
  <div class="header-title"><%= @room.name %></div>
  <div class="close-btn"><%= link_to 'チャットを終了する', room_path(@room), method: :delete  %></div>
</div>

<div class="main_chat_messages">
  <%= render partial: 'message', collection: @messages %>
</div>
<br>

<div class="main_chat_form">

  <div class="input-body">
    <%= form_with model: [@room, @message], class: 'input-body', local: true do |f| %>
        <%= f.text_field :content, class: 'input-message', placeholder: 'type a message' %>

        <label class="input-image">
        <span class="form-image">画像</span>
        <%= f.file_field :image, class: 'hidden' %>
        </label>

      <%= f.submit '送信', class: 'send-btn' %>

    <% end %>
  </div>
</div>